@import "tailwindcss";
body {
    font-family: "Plus Jakarta Sans", sans-serif;
}
h1,
h2,
h3,
.font-heading {
    font-family: "Outfit", sans-serif;
}
.glass-effect {
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
}
